<?xml version="1.0" encoding="UTF-8"?>	
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	
	 xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/
javaee/web-app_2_5.xsd"	
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/
javaee/web-app_3_0.xsd"	
	 id="WebApp_ID" version="3.0">	
	 <display-name>Tiny-Jetty-App</display-name>	
	
	 <servlet>	
	 	<servlet-name>assign2serv</servlet-name>	
	 	<servlet-class>com.netapps.assign2.Assign2Server</servlet-class>	
	 </servlet>	
	
	 <servlet-mapping>	
	 	<servlet-name>assign2serv</servlet-name>	
	 	<url-pattern>/</url-pattern>	
	 </servlet-mapping>
	 
	 <servlet>	
	 	<servlet-name>PostServlet</servlet-name>	
	 	<servlet-class>com.netapps.assign2.PostServlet</servlet-class>	
	 </servlet>	
	
	 <servlet-mapping>	
	 	<servlet-name>PostServlet</servlet-name>	
	 	<url-pattern>/post</url-pattern>	
	 </servlet-mapping>
	 
	 <servlet>	
	 	<servlet-name>GetServlet</servlet-name>	
	 	<servlet-class>com.netapps.assign2.GetServlet</servlet-class>	
	 </servlet>	
	
	 <servlet-mapping>	
	 	<servlet-name>GetServlet</servlet-name>	
	 	<url-pattern>/get</url-pattern>	
	 </servlet-mapping>
	 
</web-app>